<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309902338624-ti2irtj3odnvnjrnqpc00etraremtol6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309902338624-ti2irtj3odnvnjrnqpc00etraremtol6</string>
	<key>API_KEY</key>
	<string>AIzaSyC4jWFoHrlQ3zJg1GreuUzlbyEtfDt5bnU</string>
	<key>GCM_SENDER_ID</key>
	<string>309902338624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.fong.fav</string>
	<key>PROJECT_ID</key>
	<string>ios-test-bfc4e</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-test-bfc4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309902338624:ios:6075e1c5f59a396f284da5</string>
</dict>
</plist>